In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [6]:
# Read the data
df = pd.read_csv('austin_weather.csv')
df.head(10)

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
0,2013-12-21,74,60,45,67,49,43,93,75,57,...,29.68,29.59,10,7,2,20,4,31,0.46,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43,36,28,93,68,43,...,30.13,29.87,10,10,5,16,6,25,0,
2,2013-12-23,58,45,32,31,27,23,76,52,27,...,30.49,30.41,10,10,10,8,3,12,0,
3,2013-12-24,61,46,31,36,28,21,89,56,22,...,30.45,30.3,10,10,7,12,4,20,0,
4,2013-12-25,58,50,41,44,40,36,86,71,56,...,30.33,30.27,10,10,7,10,2,16,T,
5,2013-12-26,57,48,39,39,36,33,79,63,47,...,30.4,30.34,10,9,7,12,3,17,0,
6,2013-12-27,60,53,45,41,39,37,83,65,47,...,30.39,30.34,10,9,7,7,1,11,T,
7,2013-12-28,62,51,40,43,39,33,92,64,36,...,30.17,30.04,10,10,7,10,2,14,T,
8,2013-12-29,64,50,36,49,41,28,92,76,60,...,30.1,29.99,10,10,4,17,5,24,0,
9,2013-12-30,44,40,35,31,26,21,75,60,45,...,30.33,30.26,10,10,10,13,5,21,0,

We can see instead of [PrecipitationSumInches] T(trace) we can write 0

In [7]:
df["PrecipitationSumInches"] = df["PrecipitationSumInches"].replace("T", 0.00)

In [8]:
df.shape

(1319, 21)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        1319 non-null   object
 1   TempHighF                   1319 non-null   int64
 2   TempAvgF                    1319 non-null   int64
 3   TempLowF                    1319 non-null   int64
 4   DewPointHighF               1319 non-null   object
 5   DewPointAvgF                1319 non-null   object
 6   DewPointLowF                1319 non-null   object
 7   HumidityHighPercent         1319 non-null   object
 8   HumidityAvgPercent          1319 non-null   object
 9   HumidityLowPercent          1319 non-null   object
 10  SeaLevelPressureHighInches  1319 non-null   object
 11  SeaLevelPressureAvgInches   1319 non-null   object
 12  SeaLevelPressureLowInches   1319 non-null   object
 13  VisibilityHighMiles         1319 non-null   object
 14  VisibilityAvgMiles          1319 non-null   object
 15  VisibilityLowMiles          1319 non-null   object
 16  WindHighMPH                 1319 non-null   object
 17  WindAvgMPH                  1319 non-null   object
 18  WindGustMPH                 1319 non-null   object
 19  PrecipitationSumInches      1319 non-null   object
 20  Events                      1319 non-null   object
dtypes: int64(3), object(18)
memory usage: 216.5+ KB

There is a lot of columns that should be numeric but are not. If we try to convert them to numeric we will get an error. We can see they have '-' instead of NaN. We can replace them with NaN and then convert them to numeric.

In [10]:
df.replace('-', np.nan, inplace=True)

In [11]:
df.isnull().sum()

Date                           0
TempHighF                      0
TempAvgF                       0
TempLowF                       0
DewPointHighF                  7
DewPointAvgF                   7
DewPointLowF                   7
HumidityHighPercent            2
HumidityAvgPercent             2
HumidityLowPercent             2
SeaLevelPressureHighInches     3
SeaLevelPressureAvgInches      3
SeaLevelPressureLowInches      3
VisibilityHighMiles           12
VisibilityAvgMiles            12
VisibilityLowMiles            12
WindHighMPH                    2
WindAvgMPH                     2
WindGustMPH                    4
PrecipitationSumInches         0
Events                         0
dtype: int64

Lets see nan values in the dataset

In [12]:
# set columns to float except for date and events
cols = df.columns.drop(['Date', 'Events'])
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce', axis=1)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        1319 non-null   object
 1   TempHighF                   1319 non-null   float64
 2   TempAvgF                    1319 non-null   float64
 3   TempLowF                    1319 non-null   float64
 4   DewPointHighF               1312 non-null   float64
 5   DewPointAvgF                1312 non-null   float64
 6   DewPointLowF                1312 non-null   float64
 7   HumidityHighPercent         1317 non-null   float64
 8   HumidityAvgPercent          1317 non-null   float64
 9   HumidityLowPercent          1317 non-null   float64
 10  SeaLevelPressureHighInches  1316 non-null   float64
 11  SeaLevelPressureAvgInches   1316 non-null   float64
 12  SeaLevelPressureLowInches   1316 non-null   float64
 13  VisibilityHighMiles         1307 non-null   float64
 14  VisibilityAvgMiles          1307 non-null   float64
 15  VisibilityLowMiles          1307 non-null   float64
 16  WindHighMPH                 1317 non-null   float64
 17  WindAvgMPH                  1317 non-null   float64
 18  WindGustMPH                 1315 non-null   float64
 19  PrecipitationSumInches      1319 non-null   float64
 20  Events                      1319 non-null   object
dtypes: float64(19), object(2)
memory usage: 216.5+ KB

In [14]:
df[df.isna().any(axis=1)]

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
174,2014-06-13,89.0,79.0,68.0,NaN,NaN,NaN,95.0,75.0,55.0,...,29.95,29.87,NaN,NaN,NaN,15.0,4.0,22.0,0.0,
175,2014-06-14,87.0,92.0,73.0,NaN,NaN,NaN,95.0,77.0,59.0,...,29.93,29.84,NaN,NaN,NaN,15.0,6.0,22.0,0.0,
176,2014-06-15,91.0,83.0,74.0,NaN,NaN,NaN,NaN,NaN,NaN,...,29.90,29.87,NaN,NaN,NaN,14.0,9.0,23.0,0.0,
177,2014-06-16,92.0,84.0,75.0,NaN,NaN,NaN,94.0,72.0,49.0,...,29.99,29.93,NaN,NaN,NaN,12.0,8.0,24.0,0.0,
596,2015-08-09,103.0,89.0,74.0,NaN,NaN,NaN,100.0,65.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,
597,2015-08-10,105.0,90.0,74.0,NaN,NaN,NaN,100.0,62.0,24.0,...,NaN,NaN,NaN,NaN,NaN,14.0,6.0,20.0,0.0,
598,2015-08-11,105.0,90.0,75.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,
638,2015-09-20,95.0,82.0,69.0,70.0,63.0,57.0,90.0,60.0,30.0,...,29.96,29.90,NaN,NaN,NaN,9.0,3.0,15.0,0.0,
639,2015-09-21,95.0,84.0,73.0,71.0,64.0,53.0,87.0,57.0,26.0,...,29.95,29.90,NaN,NaN,NaN,12.0,4.0,16.0,0.0,
741,2016-01-01,48.0,46.0,44.0,36.0,33.0,28.0,66.0,60.0,53.0,...,30.48,30.38,NaN,NaN,NaN,15.0,8.0,24.0,0.0,Rain
742,2016-01-02,47.0,45.0,42.0,42.0,34.0,29.0,100.0,77.0,53.0,...,30.42,30.36,NaN,NaN,NaN,8.0,2.0,13.0,0.2,Rain
953,2016-07-31,98.0,88.0,78.0,75.0,73.0,67.0,91.0,66.0,40.0,...,29.97,29.88,NaN,NaN,NaN,13.0,6.0,21.0,0.0,
1001,2016-09-17,96.0,85.0,75.0,75.0,72.0,70.0,90.0,67.0,46.0,...,29.94,29.90,10.0,10.0,10.0,7.0,1.0,NaN,0.0,
1107,2017-01-01,73.0,63.0,53.0,60.0,52.0,39.0,97.0,74.0,43.0,...,29.85,29.79,10.0,8.0,0.0,7.0,2.0,NaN,0.0,Fog

We can fill missing values with mean of the month. We can do this with groupby and transform.

First, we need to split the date column into year, month and day. We can do this with pandas datetime functions.

In [15]:
df["Date"] = pd.to_datetime(df["Date"])

In [16]:
df["Day"] = df["Date"].dt.day
df["Month"] = df["Date"].dt.month
df["Year"] = df["Date"].dt.year

In [17]:
df.groupby('Month').mean()

,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,...,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Day,Year
Month,,,,,,,,,,,,,,,,,,,,,
1,63.137097,52.201613,40.725806,43.766129,36.862903,29.862903,82.709677,61.629032,39.862903,30.286452,...,30.047661,9.975410,8.959016,7.319672,13.185484,4.846774,21.398374,0.080161,16.000000,2015.500000
2,68.849558,57.929204,46.407080,49.185841,42.654867,35.318584,82.964602,62.938053,42.398230,30.200619,...,29.984248,9.991150,8.973451,6.690265,13.716814,5.486726,22.194690,0.038142,14.628319,2015.504425
3,73.943548,63.669355,52.943548,56.870968,50.580645,43.604839,88.290323,67.443548,46.112903,30.150000,...,29.942339,9.943548,8.645161,5.806452,14.145161,5.733871,22.540323,0.097500,16.000000,2015.500000
4,80.933333,70.791667,60.125000,62.608333,57.175000,51.141667,88.033333,67.383333,46.233333,30.025833,...,29.836250,10.000000,8.916667,5.991667,14.508333,5.783333,24.241667,0.104500,15.500000,2015.500000
5,85.024194,75.306452,65.104839,66.709677,62.927419,58.620968,89.193548,70.451613,51.241935,30.025565,...,29.863548,10.000000,8.750000,5.645161,14.354839,5.758065,23.556452,0.279758,16.000000,2015.500000
6,92.116667,82.891667,72.950000,73.120690,70.370690,66.922414,91.302521,70.210084,48.663866,29.998000,...,29.856917,10.000000,9.456897,6.922414,13.325000,5.100000,21.408333,0.146917,15.500000,2015.500000
7,97.806452,86.959677,75.653226,73.629032,70.491935,65.395161,89.338710,64.072581,38.322581,30.051129,...,29.902823,10.000000,9.691057,8.130081,13.524194,5.314516,21.967742,0.062500,16.000000,2015.500000
8,97.322581,86.548387,75.247312,73.088889,69.744444,64.855556,88.141304,64.032609,39.456522,30.016667,...,29.869778,10.000000,9.688889,8.200000,12.494505,4.626374,19.934066,0.079570,16.000000,2015.000000
9,92.677778,82.355556,71.677778,71.622222,68.088889,63.655556,90.822222,67.266667,43.222222,30.046222,...,29.907111,10.000000,9.568182,7.397727,12.011111,3.811111,18.606742,0.121778,15.500000,2015.000000
10,86.118280,75.150538,63.688172,64.290323,59.462366,54.129032,86.150538,63.784946,40.838710,30.091720,...,29.934839,10.000000,9.569892,8.021505,11.870968,4.053763,18.849462,0.149140,16.000000,2015.000000
11,70.611111,61.211111,51.244444,55.588889,50.055556,43.155556,88.900000,69.911111,50.388889,30.216556,...,30.028778,10.000000,9.077778,6.444444,11.966667,4.344444,19.444444,0.140556,15.500000,2015.000000
12,64.298077,55.211538,45.634615,50.653846,44.528846,38.096154,89.288462,71.144231,52.509615,30.238654,...,30.026250,10.000000,8.951923,6.096154,12.413462,4.355769,19.951923,0.067885,17.057692,2014.788462

In [18]:
nan_cols = df.columns.drop(['Date', 'Events', 'Day', 'Month', 'Year','TempHighF', 'TempAvgF', 'TempLowF','PrecipitationSumInches'])
for col in nan_cols:
    df[col] = df.groupby('Month')[col].transform(lambda x: x.fillna(x.mean()))

In [19]:
df.isnull().sum()

Date                          0
TempHighF                     0
TempAvgF                      0
TempLowF                      0
DewPointHighF                 0
DewPointAvgF                  0
DewPointLowF                  0
HumidityHighPercent           0
HumidityAvgPercent            0
HumidityLowPercent            0
SeaLevelPressureHighInches    0
SeaLevelPressureAvgInches     0
SeaLevelPressureLowInches     0
VisibilityHighMiles           0
VisibilityAvgMiles            0
VisibilityLowMiles            0
WindHighMPH                   0
WindAvgMPH                    0
WindGustMPH                   0
PrecipitationSumInches        0
Events                        0
Day                           0
Month                         0
Year                          0
dtype: int64

In [22]:
df.drop(["Day", "Month", "Year"], axis=1, inplace=True)

In [23]:
df

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
0,2013-12-21,74.0,60.0,45.0,67.0,49.0,43.0,93.0,75.0,57.0,...,29.68,29.59,10.0,7.0,2.0,20.0,4.0,31.0,0.46,"Rain , Thunderstorm"
1,2013-12-22,56.0,48.0,39.0,43.0,36.0,28.0,93.0,68.0,43.0,...,30.13,29.87,10.0,10.0,5.0,16.0,6.0,25.0,0.00,
2,2013-12-23,58.0,45.0,32.0,31.0,27.0,23.0,76.0,52.0,27.0,...,30.49,30.41,10.0,10.0,10.0,8.0,3.0,12.0,0.00,
3,2013-12-24,61.0,46.0,31.0,36.0,28.0,21.0,89.0,56.0,22.0,...,30.45,30.30,10.0,10.0,7.0,12.0,4.0,20.0,0.00,
4,2013-12-25,58.0,50.0,41.0,44.0,40.0,36.0,86.0,71.0,56.0,...,30.33,30.27,10.0,10.0,7.0,10.0,2.0,16.0,0.00,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,2017-07-27,103.0,89.0,75.0,71.0,67.0,61.0,82.0,54.0,25.0,...,29.97,29.88,10.0,10.0,10.0,12.0,5.0,21.0,0.00,
1315,2017-07-28,105.0,91.0,76.0,71.0,64.0,55.0,87.0,54.0,20.0,...,29.90,29.81,10.0,10.0,10.0,14.0,5.0,20.0,0.00,
1316,2017-07-29,107.0,92.0,77.0,72.0,64.0,55.0,82.0,51.0,19.0,...,29.86,29.79,10.0,10.0,10.0,12.0,4.0,17.0,0.00,
1317,2017-07-30,106.0,93.0,79.0,70.0,68.0,63.0,69.0,48.0,27.0,...,29.91,29.87,10.0,10.0,10.0,13.0,4.0,20.0,0.00,
1318,2017-07-31,99.0,88.0,77.0,66.0,61.0,54.0,64.0,43.0,22.0,...,29.97,29.91,10.0,10.0,10.0,12.0,4.0,20.0,0.00,